.about-wrapper {
  position: relative;
  display: flex;
  height: 100vh;
}

.left-block,
.right-block {
  width: 50%;
}

.left-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.left-block img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}

.right-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.right-block .content {
  position: absolute;
  max-width: 700px;
  bottom: 50px;
}

.right-block .content h1 {
  font-size: 100px;
  line-height: 90px;
}

.right-block .content p {
  color: var(--main-color);
}

.about {
  padding: 80px;
}

.about h2 {
  color: var(--main-color);
  margin-bottom: 20px;
}

.about h6 {
  font-size: 16px;
  color: var(--main-color);
}

.about p {
  margin-bottom: 12px;
}

.organizing-committee {
  color: white;
  padding: 80px;
  background-color: var(--main-color);
}

.organizing-committee h2 {
  margin-bottom: 20px;
}

.organizing-committee .delegation h3 {
  font-family: 'Cormorant_Garamond_Regular';
  font-size: 26px;
  border-bottom: 1px solid white;
  width: fit-content;
  padding: 0 50px 5px 0;
  margin-bottom: 15px;
}

.organizing-committee .delegation .group {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.organizing-committee .delegation .group p{
 /* font-size: 20px; */
}

@media (max-width: 1275px) {
  .right-block .content h1 {
    font-size: 70px;
    line-height: 60px;
  }
}

@media (max-width: 1100px) {
  .right-block .content h1 {
    font-size: 60px;
    line-height: 50px;
  }
}

@media (max-width: 992px) {
  .about-wrapper {
    display: block;
    height: 50vh;
  }

  .left-block,
  .right-block {
    width: 100%;
  }

  .left-block {
    display: flex;
    flex-direction: row;
  }

  .left-block img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .right-block {
    display: none;
  }

  .about {
    padding: 60px 40px;
  }

  .organizing-committee {
    padding: 60px 40px;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 40px 20px;
  }

  .organizing-committee {
    padding: 40px 20px;
  }
}
