.main-content {
  background-color: #FF6702;
}

.about-wrapper {
  display: flex;
  height: 100vh;
}

.left-block,
.right-block {
  width: 50%;
}

.left-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FF6702;
  mix-blend-mode: exclusion;
}

.left-block img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: block;
}

.right-block {
  background-color: #e4e4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.right-block h1 {
  margin-bottom: 40px;
}

.right-block p:nth-child(3) {
  margin-top: 30px;
}

.organizing-committee {
  padding: 80px;
}

.committee-block {
  display: flex;
  gap: 100px;
}

.committee-block:nth-child(2) {
  margin-top: 80px;
}

.organizers-table {
  border-collapse: collapse;
  margin-top: 30px;
  display: inline-table;
  width: 100%;
}

.organizers-table tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.organizers-table td {
  padding: 15px 0;
}

.organizers-table td.role {
  font-family: 'Kanit_Semibold';
  text-transform: uppercase;
}

.organizers-table td.person {
  text-align: right;
}

@media (max-width: 992px) {
  .about-wrapper {
    display: block;
    height: auto;
  }

  .left-block,
  .right-block {
    width: 100%;
  }

  .left-block {
    display: flex;
    flex-direction: row;
    background-color: #FF6702;
    mix-blend-mode: exclusion;
    height: 50vh;
  }

  .left-block img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .right-block {
    padding: 60px 40px;
  }

  .organizing-committee {
    padding: 60px 40px;
  }

  .committee-block {
    flex-direction: column;
    gap: 20px;
  }
}
