:root{
  --main-color: #FF6702;
  --background-color: #f1f1ec;
}

@font-face {
  font-family: 'Kanit_Bold';
  src: url(../assets/fonts/Kanit/Kanit-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Kanit_Regular';
  src: url(../assets/fonts/Kanit/Kanit-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Kanit_Light';
  src: url(../assets/fonts/Kanit/Kanit-Light.ttf);
}

@font-face {
  font-family: 'Kanit_Medium';
  src: url(../assets/fonts/Kanit/Kanit-Medium.ttf);
}

@font-face {
  font-family: 'Kanit_Semibold';
  src: url(../assets/fonts/Kanit/Kanit-SemiBold.ttf);
}

@font-face {
  font-family: 'Cormorant_Garamond_Bold';
  src: url(../assets/fonts/Kanit/CormorantGaramond-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Cormorant_Garamond_Regular';
  src: url(../assets/fonts/Kanit/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: 'Cormorant_Garamond_Light';
  src: url(../assets/fonts/Kanit/CormorantGaramond-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

a::after {
  content: '';
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
}

a:hover:after {
  width: 100%;
}

main{
  overflow-x: hidden;
}

body {
  font-size: 16px;
  color: #0e0e0e;
  font-family: 'Kanit_Light', sans-serif;
  background-color: var(--background-color);
  overflow-x: hidden;
}

h1 {
  font-family: 'Cormorant_Garamond_Bold';
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
}

h2 {
  font-family: 'Cormorant_Garamond_Bold';
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 0;
}

.nav-brand img {
  height: 45px;
  width: auto;
  transition: filter 0.3s ease;
}

.nav-menu {
  display: flex;
  gap: 2rem;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Kanit_Regular';
  
}

.nav-menu a::after{
 background-color: black;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
}

.nav-toggle-label span {
  height: 2px;
  width: 100%;
  background-color: black;
  margin-bottom: 5px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav-toggle-label {
    display: flex;
  }

  .nav-menu {
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: #000;
    padding: 32px;
    flex-direction: column;
    gap: 25px;
  }

  .nav-toggle:checked ~ .nav-menu {
    display: flex;
  }

  .nav-toggle:checked ~ .navbar,
  .navbar:has(.nav-toggle:checked) {
    background-color: #000;
  }

  .nav-toggle:checked ~ .navbar .nav-brand img,
  .navbar:has(.nav-toggle:checked) .nav-brand img {
    filter: invert(1) brightness(100%) contrast(100%);
  }

  
  .nav-toggle:checked ~ .nav-toggle-label span,
  .navbar:has(.nav-toggle:checked) .nav-toggle-label span {
    background-color: white;
  }

  
  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    background-color: white;
  }

  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    background-color: white;
  }

  .nav-menu li a {
    color: white;
    font-size: 16px;
    width: 100%;
    display: inline-block;
  }

  .nav-menu li a::after {
    background-color: white;
  }
}

.footer {
  background-color: #0e0e0e;
  padding: 80px 80px 40px 80px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.footer .logo {
  width: 45px;
  height: 45px;
}

.footer-links {
  display: flex;
  gap: 150px;
}

.footer-links .block h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Kanit_Semibold';
  font-size: 16px;
}

.footer-links .block p {
  margin-top: 3px;
}

.footer-links .block a {
  display: block;
  margin-top: 10px;
}

.footer-links .block a::after {
  background-color: white;
}

.footer-links .social-media {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-links .social-media a::after {
  display: none;
}

.footer-links .social-media img {
  height: 25px;
  width: 25px;
}

.footer-links .social-media .fb-icon {
  height: 20px;
  width: 20px;
}

@media (max-width: 992px) {
  .footer {
    padding: 60px 40px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  .footer-links {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  .navbar{
    padding: 20px 20px;
  }
}
