.hero {
  position: relative;
  height: 100vh;
  display: flex;
}

.hero img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.hero .title-wrapper {
  margin-top: auto;
  padding: 0 80px 40px 40px;
}

.hero .title-wrapper h1 {
  font-size: 100px;
  line-height: 90px;
}

.hero .title-wrapper p {
  max-width: 600px;
  color: var(--main-color);
  width: fit-content;
}

.agenda {
  display: flex;
}

.agenda-info {
  width: 30%;
  background-color: var(--main-color);
  padding: 80px 40px 80px 80px;
  border-right: 1px solid black;
  color: white;
}

.agenda-info p {
  text-transform: uppercase;
  margin-top: 30px;
}

.events {
  padding: 80px 80px 80px 40px;
  width: 70%;
}

.events .days {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.events .days .day-btn {
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  padding: 8px 15px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.events .days .day-btn:hover {
  background-color: var(--main-color);
  color: white;
}

.events .days .day-btn.active {
  background-color: var(--main-color);
  color: white;
}

.events-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.events-container .event-card {
  border: 1px solid rgb(223, 215, 215);
  padding: 20px;
}

.events-container .event-card .event-location {
  border: 1px solid black;
  padding: 8px;
  width: fit-content;
  margin-bottom: 10px;
}

.events-container .event-card .event-title {
  color: var(--main-color);
  font-size: 20px;
  text-transform: uppercase;
}

.events-container .event-card .event-speakers {
  margin-top: 30px;
  text-transform: uppercase;
}

.speakers {
  background-color: rgb(37, 37, 37);
  padding: 80px;
  color: white;
}

.speakers .info h2 {
  margin-bottom: 15px;
}

.speakers .info a {
  display: block;
  margin-top: 100px;
  background-color: var(--main-color);
  color: black;
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  transition: all 0.3s ease;
}

.speakers .info a:hover {
  background-color:rgb(37, 37, 37);
  color: var(--main-color);
}

.speakers-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 80px 20px;
}

.speaker {
  width: calc(25% - 15px);
  height: 400px;
  position: relative;
}

.speaker img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.speaker .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.speaker .info h4 {
  font-family: 'Kanit_Light';
  font-weight: 400;
}

.speaker .info a {
  color: #ff6702;
}

.speaker .info a::after {
  background-color: white;
}

.timeline-deadline {
  display: flex;
  gap: 80px;
  padding: 80px;
  background-color: #e4e4da;
}

.timeline-deadline .content {
  width: 50%;
}

.timeline-deadline .content .agenda-table tr td:first-child {
  font-family: 'Kanit_Semibold';
}

@media (max-width: 1275px) {
  .hero .title-wrapper h1 {
    font-size: 70px;
  }
}

@media (max-width: 1100px) {
  .hero .title-wrapper h1 {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }

  .hero img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .hero .title-wrapper {
    margin-top: 0;
    padding: 30px 40px 0px 40px;
  }

  .hero .title-wrapper p {
    margin-left: 0;
  }

  .agenda {
    flex-direction: column;
    padding: 20px 40px 60px 40px;
    gap: 40px;
  }

  .agenda-info {
    background-color: transparent;
    color: black;
    width: 100%;
    padding: 0;
    border: none;
  }

  .events {
    padding: 0;
    width: 100%;
  }

  .events-container .event-card .event-location {
    border: 1px solid black;
    padding: 8px;
    width: fit-content;
    margin-bottom: 10px;
  }

  .events-container .event-card .event-title {
    color: var(--main-color);
    font-size: 20px;
  }

  .events-container .event-card .event-speakers {
    margin-top: 30px;
  }

  .timeline-deadline {
    flex-direction: column;
    padding: 60px 40px;
  }

  .timeline-deadline .content {
    width: 100%;
  }

  .speakers {
    padding: 60px 40px;
  }

  .speakers-list {
    gap: 30px 5px;
  }

  .speaker {
    width: calc(50% - 3px);
    height: 300px;
    text-align: center;
  }

  .speaker a {
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
.hero img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  .hero .title-wrapper {
    margin-top: 0;
    padding: 30px 20px 0px 20px;
  }

  .hero .title-wrapper h1{
    font-size: 40px;
    line-height: 30px;
  }

  .agenda {
    padding: 20px 20px 60px 20px;
  }

  .speakers {
    padding: 60px 20px;
  }

  .timeline-deadline {
    padding: 60px 20px;
  }
}
